// 地圖圖資綁定的 div
#map_show, #map_showRoute, #map_showSpot{ 
  height: 100vh;
  // 解決手機端下方工具列也吃 100vh 的問題
  min-height: -webkit-fill-available;
}

// 地圖右下角"附近"圖示
.gps_currentPos{
  position: absolute;
  cursor: pointer;
  right: 5vw;
  bottom: 7vh;
  z-index: 999;
  @media screen and (max-width:992px) {
    right: 20px;
    top: 80px;
  }
}

// 消除目前所在位置 marker 的預設背景色和邊框
.leaflet-div-icon{
  background: rgba(255, 255, 255, 0);
  border: 0;
}

// 目前所在位置 marker 動畫雷達圖
#lottie_youbike_GPS{
    width: 60px;
    height: 60px;
}

.lendIcon, .returnIcon{
    position:relative;
  img{
    width:36px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
  }
  .bikeNum{
    position:absolute;
    width:36px;
    height:36px;
    top:0;
    left:0;
    display:table;
    span{
      display:table-cell;
      vertical-align:middle;
      text-align: center;
      font-size:16px;
      font-weight:bold;
    }
  }
}

// 動態路線圖
@keyframes animLine {
  0% {
    transform: skew(20deg) rotate(0deg);
  }
  50% {
    transform: skew(20deg) rotate(180deg);
  }
  100% {
    transform: skew(20deg) rotate(360deg);
  }
}