.map_main{
    height: 100vh;
}

#bikeMap_show { 
    height: 100vh; 
}

.leaflet-div-icon{
  background: rgba(255, 255, 255, 0);
  border: 0;
}

#lottie_youbike_GPS{
    width: 60px;
    height: 60px;
}

.lendIcon{
    position:relative;
  img{
    width:36px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
  }
  .bikeNum{
    position:absolute;
    width:36px;
    height:36px;
    top:0;
    left:0;
    display:table;
    span{
      display:table-cell;
      vertical-align:middle;
      text-align: center;
      font-size:16px;
      font-weight:bold;
    }
  }
}